
## java
*.class

## intellij
out/
build/
.idea/

## gradle build scripts
.gradle/

## latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.toc

## minutes 
!docs/minutes/*.pdf

## No pesky word backups
~$*
*.tmp
## or vim swp files
*.swp
##or virtualbox lock files
.directory
.directory.lock
